<div class="col-md-8">
  <div id="chat-frame">
    <%= render 'chatrooms/show' %>
  </div>
</div>
<div class="col-md-3 panel-body">
  <p class="lead"><%= link_to 'New chat room', new_chatroom_path, class: 'btn btn-primary' %></p>
  <% if @chatrooms %>
    <ul>
      <% @chatrooms.each do |chat| %>   
        <li style = "list-style-type: none">
          <strong><%= chat.topic %></strong>
          <%= link_to "Enter", chatroom_path(chat),remote: true , class: 'btn btn-xs btn-primary' %>
          <%= link_to "Delete this chatroom", chatroom_path(chat), 
                            method: :delete,
                            data: {confirm: "Are you sure?"}, 
                            class: "btn btn-xs btn-danger" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>